# Ignore the zip file
ultralytics/carparts-seg.zip

# Ignore everything in the datasets folder (including subfolders and files)
ultralytics/datasets/

# Ignore everything in the output folder
myThesis/output/

# Ignore the initial weights
myThesis/weights/

# Ignores the images for tests
myThesis/image/

