# Ignore the zip file
ultralytics/carparts-seg.zip

# Ignore everything in the datasets folder (including subfolders and files)
ultralytics/datasets/

# Ignore everything in the output folder for the car parts finetune
maskdino/output/car_parts_finetune/

# Ignore the initial weights
maskdino/weights/
